/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/uploads
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env
composer.lock

/updates
